{{- $folder := .Get 0 -}}
{{- $path := printf "static/images/art/%s" $folder -}}
{{- $files := readDir $path -}}

<div class="art-grid content__body">
  {{- range $files -}}
    {{- $name := lower .Name -}}
    {{- if and (not .IsDir) (or (hasSuffix $name ".jpg") (hasSuffix $name ".jpeg") (hasSuffix $name ".png") (hasSuffix $name ".gif") (hasSuffix $name ".webp") (hasSuffix $name ".avif")) -}}
      {{- $base := replaceRE "\\.[^.]+$" "" .Name -}}
      {{- $txtPath := printf "%s/%s.txt" $path $base -}}
      {{- $content := "Artwork by Tedsig42" -}}
      {{- $summary := $content -}}
      {{- if fileExists $txtPath -}}
        {{- $content = readFile $txtPath -}}
        {{- $authorMatches := findRE "@[A-Za-z0-9_.-]+" $content -}}
        {{- $titleMatches := findRE "(?m)^#\\s+.+$" $content -}}
        {{- $title := "" -}}
        {{- if gt (len $titleMatches) 0 -}}
          {{- $title = replaceRE "^#\\s+" "" (index $titleMatches 0) -}}
        {{- end -}}
        {{- if gt (len $authorMatches) 0 -}}
          {{- if $title -}}
            {{- $summary = printf "**%s**\n\n%s" $title (index $authorMatches 0) -}}
          {{- else -}}
            {{- $summary = index $authorMatches 0 -}}
          {{- end -}}
        {{- else -}}
          {{- if $title -}}
            {{- $summary = printf "**%s**" $title -}}
          {{- else -}}
            {{- $summary = $content -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
      <div class="art-tile">
        <img class="gallery-img" src="{{ printf "images/art/%s/%s" $folder .Name | absURL }}" alt="{{ .Name }}" loading="lazy" decoding="async" data-desc-url="{{ printf "images/art/%s/%s.txt" $folder $base | absURL }}" data-filename="{{ $base }}">
        <div class="art-desc">{{ $summary | markdownify }}</div>
        <div class="art-desc-source" hidden>{{ $content }}</div>
      </div>
    {{- end -}}
  {{- end -}}
</div>
