{{- $folder := .Get 0 -}}
{{- $path := printf "static/images/art/%s" $folder -}}
{{- $files := readDir $path -}}

<div class="art-grid content__body">
  {{- range $files -}}
    {{- $name := lower .Name -}}
    {{- if and (not .IsDir) (or (hasSuffix $name ".jpg") (hasSuffix $name ".jpeg") (hasSuffix $name ".png") (hasSuffix $name ".gif") (hasSuffix $name ".webp") (hasSuffix $name ".avif")) -}}
      {{- $base := replaceRE "\\.[^.]+$" "" .Name -}}
      {{- $txtPath := printf "%s/%s.txt" $path $base -}}
      {{- $content := "Artwork by Tedsig42" -}}
      {{- if fileExists $txtPath -}}
        {{- $content = readFile $txtPath -}}
      {{- end -}}
      <div class="art-tile">
        <img class="gallery-img" src="{{ printf "images/art/%s/%s" $folder .Name | absURL }}" alt="{{ .Name }}" loading="lazy" decoding="async" data-desc-url="{{ printf "images/art/%s/%s.txt" $folder $base | absURL }}" data-filename="{{ $base }}">
        <div class="art-desc">{{ $content | markdownify }}</div>
      </div>
    {{- end -}}
  {{- end -}}
</div>
